<% content_for :title do %>Sobre Bubu Doctor<% end %>
<div class="section">
  <h3>Entenda uma pouco mais sobre o Bubu Doctor</h3>
  <p>
  Essa aplicação foi criada com muito carinho usando
  <%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
  através do <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
  </p>
</div>