<%= form_with(model: patient, remote: true) do |form| %>
  <div class="container col-sm-12">
    <% if patient.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% patient.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
        <div class="col-sm-12">
          <div id="div-consultations" data-url="<%= consultations_path(patient_id: patient.id) %>">

          </div>
        </div>
    </div>
  </div>
<% end %>