@import 'datatables/dataTables.bootstrap4';

// optional remove '//=' to enable

//@import 'datatables/extensions/AutoFill/autoFill.bootstrap4';
@import 'datatables/extensions/Buttons/buttons.bootstrap4';
//@import 'datatables/extensions/ColReorder/colReorder.bootstrap4';
//@import 'datatables/extensions/FixedColumns/fixedColumns.bootstrap4';
//@import 'datatables/extensions/FixedHeader/fixedHeader.bootstrap4';
//@import 'datatables/extensions/KeyTable/keyTable.bootstrap4';
@import 'datatables/extensions/Responsive/responsive.bootstrap4';
//@import 'datatables/extensions/RowGroup/rowGroup.bootstrap4';
//@import 'datatables/extensions/RowReorder/rowReorder.bootstrap4';
//@import 'datatables/extensions/Scroller/scroller.bootstrap4';
//@import 'datatables/extensions/Select/select.bootstrap4';

// alterando valor padrão do background do modal de detalhes
.dtr-modal{
  //background-color: $body-bg;
}

.dtr-modal-display{
  //background-color: $body-bg;
  background-color: $body-bg;
  height: 100%;
}

.dtr-details{
  background-color: $body-bg;
  height: 100%;
}

.dtr-modal-content{
  background-color: $body-bg;
  height: auto;
  min-height: 100%;
}

.dtr-modal-background{
  background-color: $body-bg;
  height: 100%;
}

.dtr-modal-close{
  background-color: $body-bg;
}

div.dtr-modal div.dtr-modal-close{
  background-color: $body-bg;
}
