<div class="container">
  <div class="row">
    <div class="col">
      <div class="sectionform">

        <h1>Consultas</h1>

        <table class="responsive nowrap table table-hover" id="dttb-appointments" data-sort="true" data-source="<%= url_for(format: :json)%>" width="575px" style="width: 575px">
          <thead>
            <tr>
<!--              <th data-data="user">Médico</th>-->
              <th data-data="patient">Paciente</th>
              <th data-data="appointment_date">Data Consulta</th>
              <th data-data="appointment_kind">Tipo da Consulta</th>
              <th data-data="status">Status</th>
<!--              <th data-data="obs">Obs</th>-->
<!--              <th data-data="created_at">Created at</th>-->
<!--              <th data-data="updated_at">Updated at</th>-->
              <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
            </tr>
          </thead>

        </table>

        <br>

        <%= link_to 'Marcar Horário', new_appointment_path, class:"btn btn-primary" %>
      </div>
    </div>
  </div>
</div>