<table class="responsive nowrap table table-hover dttb" id="dttb-exams" data-sort="true" data-source="<%= url_for(format: :json)%>">
  <thead>
  <tr>
    <!-- <th data-data="patient">Paciente</th> -->
    <th data-data="title">Nome do Exame</th>
    <th data-data="date_done">Feito em</th>
    <th data-data="conclusion">Laudo</th>
    <th data-data="url" data-orderable="false" data-searchable="false" class="skip-export">Ações</th>
  </tr>
  </thead>

</table>
<br>
<%= link_to 'Incluir Exame', new_exam_path(patient_id: @patient.try(:id)),  {:remote => true, data:{toggle:  "modal", target: '#modal-exams'}, class:"btn btn-primary"} %>

